body{
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #231F1F 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    text-align: center;
}



.login-container{
    width: 39%;
    height: 34%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333F4A 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 40px;
    height: 100%;
    margin-top: 5vh;
}

button{
    background: #231F1F 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 36px;
    color: white;
    width: 40%;
    border: none;
    margin: 1em;
    line-height: 2.5em;
}

input{
    padding: 1em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #707070;
    margin: 1em;
    width: 60%;
}

@media only screen and (max-device-width:420px){
    *{
        font-size: 36px;
    }

    .login-container{
        margin-top: 5%;
        width: 100%;
    }

    form{
        width: 80%;
        margin: auto;
    }

    img{
        width: 13em;
    }
}
.base-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav{
    width: 20vw;
    height: 100%;
    background: #231F1F 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main{
    width: 80vh;
    
}

nav > img{
    width: 60%;
    margin: 2em auto;
}

a{
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i{
    font-size: 1.5em;
}

.button{
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 11em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 0.2em;
    width: 60%;
}
ul{
    list-style-type: none;
    color: white;
    font: normal normal normal 14px/24px Segoe UI;
    letter-spacing: 0px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
    position: relative;
}

li{
    text-align: left;
    margin-bottom: 1em;
}

li:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa,.fas{
    width: 1em;
}

main{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
}

header {
    display: flex;
    /*domyślnie wierszowo*/
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}

.add-project{
    background: #333F4A 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 1.5em;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    width: 20%;
}

.add-project > i{
    padding: 1em;

}

.search-bar{
    width: 70%;
}

.search-bar>form>input{
    background: #333F4A 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    color: gray;
    margin: 0;
    box-sizing: border-box;
}